main{
    width: 80%;
    margin: 0 auto;
}

header{
    text-align: center;
}

.titre{
    color: rgb(190, 125, 27);
}

h1{
    margin: auto;
    border-bottom: 1px solid #000;
    border-top: 1px solid #000;
}

.it{
    font-style: italic;
}

.image-header{
    float: left;
}

.plat{
    border-bottom: 1px solid #000;
    font-style: italic;
    padding: 75px;
}

.clear{
    clear: both;
}

section{
    height:530px;
}

.marge{
    padding: 75px;
}


.left{
    float: left;
    width:50%;
}

.right{
    float: right;
    width: 50%;
}

h3{
    border-bottom: 1px solid #000;
}

.adresse{
    margin-bottom: 0px;
}

.num{
    margin-top: 0px;
    margin-bottom: 0px;
}

.horaire{
    margin-top: 0px;
}

footer{
    text-align: center;
    margin-top: 50px;
}